@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #161616;
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-family: "Lobster", sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  color: whitesmoke;
  width: 100%;
  height: 150px;
}

#cart {
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  background:linear-gradient(rgb(52, 53, 52),rgb(119, 119, 121));
  padding: 15px;
  border-radius: 10px;
}

.row {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}


button {
  background: rgb(193, 192, 191);
  border: none;
  border-radius: 1.4rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
}

.cart-display-hide {
  position: absolute;
  right: 0;
  width: 22vw;
  background-color: #151515cd;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1rem;
}

#cart-items {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.cart-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border-bottom: 2px solid white;
  padding-bottom: 1rem;
}

.cart-item h3 {
  font-size: 1.2rem;
}

#menu span {
  background-color: black;
  border-radius: 8px;
  padding:  0.4rem;
  height: 30px;
}

.hidden {
  display: none;
}

@media  screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

.cart-display-hide {
  display: flex;
  width: 100%;
}

  #cart-sidebar {
    display: flex;
    justify-content: center;
  
  }

}